html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-size: 12 px;
  font-family: sans-serif;
  background-color: aquamarine;
}

a {
  color: black;
}

#underlined {
  text-decoration: underline;
}

#senate-data td,
footer {
  padding-right: 5px;
  padding-left: 5px;
}

#senate-data {
  margin: auto;
}

#foot {
  text-align: center;
}

#rightT {
  display: inline-block;
  float: right;
}

#leftT {
  display: inline-block;
  float: left;
}

.rightA {
  text-align: right;
}

.topM {
  margin-top: 100px;
}

p {
  text-align: justify;
}

p.h2 {
  text-align: center;
}

#bold {
  font-weight: bold;
}

.navbar-nav > p {
  width: 100%;
  text-align: center;
  float: none;
  display: inline-block;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
}

#no-bottom-margin{
    margin-bottom: 5px;
}

#section,
.flex-container {
  margin-bottom: 70px;
}

.section1,
#zonaText {
  margin-left: 65px;
  margin-right: 20px;
}

#zonaText {
  width: 50%;
}

#atGlance {
  margin-right: 20px;
}

img {
  margin-right: 65px;
  position: -webkit-sticky;
  position: sticky;
}

#photo {
  margin-top: 170px;
}

.thead-dark {
  background-color: darkseagreen;
  border-color: darkcyan;
  text-align: center;
}

#ruler {
  border-style: hidden hidden solid hidden;
  border-bottom-color: lightgray;
  text-align: center;
}
